<div class="container">
        <h1>Préstamo</h1>
    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select name="game" [(ngModel)]="loan.game" matInput placeholder="Nombre juego..." required> 
                @for (game of games; track game.id) {
                  <mat-option [value]="game">{{game.title}}</mat-option>
                }
        </mat-select>
        <mat-error>Debes elegir un juego.</mat-error>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select name="client" [(ngModel)]="loan.client" matInput placeholder="Nombre cliente..." required> 
                @for (client of clients; track client.id) {
                  <mat-option [value]="client">{{client.name}}</mat-option>
                }
        </mat-select>
        <mat-error>Debes elegir un cliente o registrarlo.</mat-error>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Fechas del préstamo</mat-label>
            <input type="date" matInput name="loanDate" required>
            <mat-error>Debes elegir una fecha para el préstamo</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fechas del préstamo</mat-label>
            <input type="date" matInput name="loanDate" required>
            <mat-error>Debes elegir una fecha para la devolución</mat-error>
            <!-- poner con un if los errores. No debe ser mayor de 14 dias-->
             <!-- cambiar formato fecha a dd/MM/YYYY/-->
        </mat-form-field>
    </form>

    <div class="buttons"> 
        <button mat-stroked-button (click)="onClose()">Cancelar</button> <!--  -->
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button> <!--  -->
    </div>
</div>
